.lista  {font-family:Arial, Helvetica, sans-serif;}
.name {font-family:'Times New Roman', Times, serif;}
.name {background-color: rgb(226, 71, 71);
color: white;}
#pr {font-family:Verdana, Geneva, Tahoma, sans-serif;}
#pr {background-color: brown;
color: antiquewhite;}